<div class="jumbotron br-0 jum-d cat-b">
    <!-- breadcrumb -->
    <nav class="d-flex text-white bc">
        <h6 class="mb-0">
            <a href="index.html" class="text-reset">Home</a>
            <span>></span>
            <a href="cart.html" class="text-reset"><u>Cart</u></a>
        </h6>
    </nav>
    <!-- breadcrumb -->
</div>






<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="container mt-5">
                <div class="table-responsive">
                    <table class="table table-bordered rounded shadow text-center font-weight-bolder">
                        <thead>
                            <th>PRODUCTS</th>
                            <th>NAME OF PRODUCTS</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>TOTAL</th>
                            <th>REMOVE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <img src="./img/pexels-anj-namoro-2850487.jpg" alt="" height="100px" width="50px">
                                </td>
                                <td class="centre">kids outing outfit</td>
                                <td class="centre"> ₦5000</td>
                                <td class="centre"> <span class="quantity">1</span> </td>
                                <td class="centre">₦5000</td>
                                <td class="centre"><img src="" alt=""></td>
                            </tr>
                            <tr>
                                <td> <img src="./img/pexels-anj-namoro-2850487.jpg" alt="" height="100px" width="50px">
                                </td>
                                <td class="centre">kids outing outfit</td>
                                <td class="centre"> ₦5000</td>
                                <td class="centre"> <span class="quantity">1</span> </td>
                                <td class="centre">₦5000</td>
                                <td class="centre"><img src="" alt=""></td>
                            </tr>
                            <tr>
                                <td> <img src="./img/pexels-anj-namoro-2850487.jpg" alt="" height="100px" width="50px">
                                </td>
                                <td class="centre">kids outing outfit</td>
                                <td class="centre"> ₦5000</td>
                                <td class="centre"> <span class="quantity">1</span> </td>
                                <td class="centre">₦5000</td>
                                <td class="centre"><img src="" alt=""></td>
                            </tr>
                            <tr>
                                <td> <img src="./img/pexels-anj-namoro-2850487.jpg" alt="" height="100px" width="50px">
                                </td>
                                <td class="centre">kids outing outfit</td>
                                <td class="centre"> ₦5000</td>
                                <td class="centre"> <span class="quantity">1</span> </td>
                                <td class="centre">₦5000</td>
                                <td class="centre"><img src="" alt=""></td>
                            </tr>
                            <tr>
                                <td> <img src="./img/pexels-anj-namoro-2850487.jpg" alt="" height="100px" width="50px">
                                </td>
                                <td class="centre">kids outing outfit</td>
                                <td class="centre"> ₦5000</td>
                                <td class="centre"> <span class="quantity">1</span> </td>
                                <td class="centre">₦5000</td>
                                <td class="centre"><img src="" alt=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container mt-4">
                <div class="row">


                    <div class="col-md-8 ">
                        <form action="">
                            <div class="row form-group">
                                <div class="font-weight-bold p-4 ml-3 discount shadow-sm">
                                    <label for="">ENTER YOUR DISCOUNT CODE</label><br>
                                    <input type="text" name="" id="" class=""><button type="submit"
                                        class="btn-sm btn btnss text-white ml-2"  style="background-color: #000000; margin-top: -5px;">ENTER</button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="col-md-4">
                        <div class="float_right justify_center">
                            <div class="row">
                                <button class="shadow-sm col-md border-0 p-3 mt-special"><a href="#!/view6"
                                        class="text-dark text-center font-weight-bolder">CHECKOUT</a></button>
                                <!-- <button class="  col-md-4 border-0 p-3 pr-2 "><a href="products.html"
                                        class="text-dark bg-dar text-center font-weight-bolder"
                                        style="position: relative;right: 7px;">UPDATE</a></button> -->
                                <div class="col-md-1"></div>
                                <!-- <button class="shadow-sm col-md-6 border-0 p-3 mt-special"><a href="#!/view6"
                                        class="text-dark text-center font-weight-bolder">CHECKOUT</a></button> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row mt-5">

                    <div class="col-md-3"> </div>
                     <aside class="col-md-4 mt-3 font-weight-bold shadow-sm">
                            <div class="p-1  text-white" style="background-color:#1ECECE;">CART TOTAL</div>
                            <div>CART TOTAL: <span class="float_right_m">₦55000</span> </div>

                            <div>TAX: <span class="ml-5 float_right_m">₦55000</span> </div>
                            <div>SHIPPING: <span class=" float_right_m">₦0</span></div>
                            <div style="border: 1px solid #000000"></div>
                            <div class="mt-5"> <button class="botnss btn btn-lg border-0 btnss"><a href="#"
                                        class="text-white text-center">PAYMENT</a></button></div>
                            <div><button class=" botnss border-0 btn btn-lg  mt-3 mb-5 font-weight-bold btnss2" style="background-color: #000000 ; "><a
                                        href="#!/view6" class="text-light text-center">CHECKOUT</a></button></div>
                        </aside> 
                </div> -->

            </div>
        </div>
    </div>

</div>

<footer class="footer bg-light mt-4">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-3">
                <h2 class="my-h2">Thrift Fashion Store</h2>
                <div class="socialmedia mt-4">
                    <p class="footer-p">Proudly<img src="icons/flag.svg" alt="" class="ml-3"></p>
                </div>

                <span class=" cus-link"><a href="#"> Terms and Conditions</a></span>
            </div>
            <div class="col-md-2">

                <ul class="text-left">
                    <h3 class="footer-header">COMPANY</h3>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">FAQS</a></li>
                    <li><a href="">Our Mission</a></li>
                    <li><a href="">Feedback</a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <ul class="text-left">
                    <h3 class="footer-header">MY ACCOUNT</h3>
                    <li><a href="">My Account</a></li>
                    <li><a href="">My cart </a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Wishlist</a></li>
                    <li><a href="">Checkout</a></li>

                </ul>
            </div>
            <div class="col-md-2">
                <ul class="text-left">
                    <h3 class="footer-header">Shop</h3>
                    <li><a href="">Shoes</a></li>
                    <li><a href="">Clothes </a></li>
                    <li><a href="">Kids</a></li>
                    <li><a href="">Accessories</a></li>
                    <li><a href="">Brands</a></li>

                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <h3 class="footer-header">
                        CONTACT
                    </h3>
                    <P class="footer-p">
                        rsix.aptech@gmail.com <br>
                        3rd floor, H-medix Gimbiya, <br>
                        Garki Area 11 ,<br>
                        Abuja,Nigeria.

                    </P>
                </ul>
            </div>

            <div class="container mt-2">
                <center>
                    <p class="footer-p ">
                        Copyright &copy; TechWiz3<span id="year"></span>. All Rights Reserved
                    </p>
                </center>
            </div>

        </div>
    </div>
</footer>