 <div class="jumbotron br-0 jum-d cat-b">
     <!-- breadcrumb -->
     <nav class="d-flex text-white bc">
         <h6 class="mb-0">
             <a href="index.html" class="text-reset">Home</a>
             <span>></span>
             <a href="cart.html" class="text-reset">Cart</a>
             <span>></span>
             <a href="checkout.html" class="text-reset"><u>Checkout</u></a>
         </h6>
     </nav>
     <!-- breadcrumb -->
 </div>

 <div class="container">
     <div class="row">
         <div class="col-md-5 bg-light p-3 min-jum mr-auto"> Already have an account? <a href="#">Log in to
                 membership</a> </div>
         <div class="col-md-1">
             <!-- empty -->
         </div>
         <div class="col-md-5 bg-light p-3 ml-auto"> Have a coupon? <a href="#"> Click here to enter code </a> </div>
     </div>

     <hr>

     <div class="row">
         <style>
             input[type=text]:focus {
                 outline: none;
                 border-color: #000;
             }
         </style>
         <div class="col-md-6 mt-5">
             <form class="bill">
                 <Label><b>Billing details</b></Label>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="First Name">
                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Last Name">
                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Company Name">
                 </div>
                 <div class="form-group">
                     <!-- <input type="text" class="form-control" placeholder="Select an option">  -->
                     <select name="" id="" class="form-control">
                         <option value="" readonly>Select an option</option>
                         <option value="">Option 1</option>
                         <option value="">Option 2</option>
                         <option value="">Option 3</option>
                     </select>

                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Address">
                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Address Line2">
                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="City / Town">
                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="State / Country">
                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Postcode / ZIP">
                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Phone">
                 </div>
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Email">
                 </div>
                 <div class="form-group">
                     <input type="checkbox"> <span>Join our community after purchasing</span>
                 </div>
                 <div class="form-group">
                     <input type="checkbox"> <span>Ship to a different address</span>
                 </div>

                 <Label><b>Additional information</b></Label>

                 <div class="form-group">
                     <textarea class="form-control textarea" placeholder="Order notes"></textarea>
                 </div>
             </form>
         </div>
         <div class="col-md-6 mt-5">

             <div>
                 <style>
                     .tbl {
                         border: 0.7px solid;
                         border-radius: 5px;
                     }

                     .textarea {
                         background-color: #ECECEC;
                         min-height: 100px;
                         height: 200px;
                     }

                     .textarea:focus {
                         background-color: #ECECEC;
                         border: 0.7px solid;
                         border-radius: 5px;
                     }
                 </style>
                 <div class="tbl p-4">
                     <table class="table table-bordered">
                         <Label><b>Your orders</b></Label>
                         <thead>
                             <tr>
                                 <th>Image</th>
                                 <th>Products</th>
                                 <th>Total</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td scope="row" class="pt-5 pb-5"> <img src="../img/pexels-anj-namoro-2850487.jpg"
                                         alt="" width="50px"> </td>
                                 <td class="pt-5 pb-5"> Sleeveless navy vest with camisole </td>
                                 <td class="pt-5 pb-5"> <b>N6000</b> </td>
                             </tr>
                             <tr>
                                 <td scope="row" class="pt-5 pb-5"> <img src="../img/pexels-anj-namoro-2850487.jpg"
                                         alt="" width="50px"> </td>
                                 <td class="pt-5 pb-5"> Sleeveless navy vest with camisole </td>
                                 <td class="pt-5 pb-5"> <b>N6000</b> </td>
                             </tr>
                             <tr>
                                 <td>Sub-total</td>
                                 <td><b>N12,000</b></td>
                             </tr>

                             <tr>
                                 <td>Shipping</td>
                                 <td>Free shipping</td>
                             </tr>

                             <tr>
                                 <td>Total</td>
                                 <td><b>N12,000.00</b></td>
                             </tr>
                         </tbody>
                     </table>
                     <div>
                         <div class="form-group">
                             <input type="radio" name="pay" id=""> <span>Direct Bank Transfer</span>
                         </div>
                         <div class="form-group">
                             <input type="radio" name="pay" id=""> <span>Card Payment</span>
                         </div>
                         <div class="form-group">
                             <input type="radio" name="pay" id=""> <span>Paypal</span>
                         </div>

                         <button class="text-white    cnt_btn">Place order</button>
                     </div>
                 </div>

             </div>

         </div>
     </div>
 </div>


 <!-- Page footer -->
