<div class="jumbotron br-0 jum-d cat-b">
  <!-- breadcrumb -->
  <nav class="d-flex text-white bc">
    <h6 class="mb-0">
      <a href="#!view1" class="text-reset">Home</a>
      <span>></span>
      <a href="#!/view2" class="text-reset">Products</a>
      <span>></span>
      <a href="proddetails.html" class="text-reset"><u>Product Details</u></a>
    </h6>
  </nav>
  <!-- breadcrumb -->
</div>

<div class="con">
  <div class="product-wrapper">
    <div class="prodimg">
      <img src="PICTURES/greenshirt.webp" height=" 350px" width="300px" alt="product">
    </div>

    <div class="info">
      <h3>Green Shirt</h3>
      <p>Model : Lorem</p>
      <div class="stars">
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="el:star-empty" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="el:star-empty" data-width="20" data-height="20" data-flip="horizontal"></span>
      </div>
      <span class="oldprice">₦6,000</span> <span class="newprice">₦4,000</span>
      <p>Avaliability : In Stock</p>
      <p>Color : </p> <span class="color"></span>
      <select name="size" id="">Size :
        <option value="s">S</option>
        <option value="s">M</option>
        <option value="s">L</option>
        <option value="s">XL</option>
      </select>
      <p>Categories : Fashion, Shirt, Women, Clothing</p>
      <p>Share this : </p>
      <div class="social">
        <span class="iconify" data-icon="dashicons:facebook-alt" data-width="20" data-height="20"></span>
        <span class="iconify" data-icon="ant-design:instagram-outlined" data-width="20" data-height="20"></span>
        <span class="iconify" data-icon="ph:reddit-logo-fill" data-width="20" data-height="20"></span>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="minimenu">
      <a href="#" class="active">DESCRIPTION</a>
      <a href="#" class="inactive">REVIEW</a>
      <a href="#" class="inactive">SHIPPING</a>
    </div>



    <p>The green shirt iss a vibrant and playful piece that radiates warmth and joy. Its sunny hue is perfect for spring
      and summer occasions, from picnics to weddings. The dress features a breezy and feminine silhouette that flows
      gracefully with every step. The fabric is light and airy, allowing for maximum comfort and movement. The dress may
      also feature playful details, such as ruffles, bows, or floral prints, adding to its charm and whimsy. The overall
      effect is cheerful and optimistic, like a field of sunflowers on a bright day.
    </p>



    <h3>Features and Quaity</h3>
    <p>The features and quality of green shirt n vary widely depending on the style, fabric, and brand. However,
      here are some general features and quality indicators that you may look for:</p>
    <ul>
      <li>
        Silhouette: green shirt can come in various silhouettes, such as sundresses, maxi dresses, wrap dresses, or
        shift
        dresses. Choose a silhouette that suits your body type and the occasion
      </li>
      <li>
      Color: Yellow is a bold and attention-grabbing color that requires confidence and personality to pull off.
      Consider the event and your skin tone when choosing a yellow dress.
      </li>
      <li>Details: Look for fun and flirty details that match the dress's playful spirit, such as ruffles, bows, or
        polka dots.</li>
    </ul>
  </div>

  <section class="arrivals">
    <h2 class="title">New Arrivals</h2>
    <p>Here are our latest arrivals for this month</p>
    <div class="main-content">
      <div class="content">
        <div class="image"></div>
        <div class="image"></div>
      </div>
      <div class="content">
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>

  </section>
</div>

<!-- footer -->