<div class="jumbotron br-0 jum-d cat-b">
  <!-- breadcrumb -->
  <nav class="d-flex text-white bc">
    <h6 class="mb-0">
      <a href="#!view1" class="text-reset">Home</a>
      <span>></span>
      <a href="#!/view2" class="text-reset">Products</a>
      <span>></span>
      <a href="proddetails.html" class="text-reset"><u>Product Details</u></a>
    </h6>
  </nav>
  <!-- breadcrumb -->
</div>

<div class="con">
  <div class="product-wrapper">
    <div class="prodimg">
      <img src="PICTURES/pexels-barbara-olsen-7879721.jpg" height="350px" width="300px" alt="product">
    </div>

    <div class="info">
      <h3>White dress</h3>
      <p>Model : Lorem</p>
      <div class="stars">
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="el:star-empty" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="el:star-empty" data-width="20" data-height="20" data-flip="horizontal"></span>
      </div>
      <span class="oldprice">₦6,000</span> <span class="newprice">₦4,000</span>
      <p>Avaliability : In Stock</p>
      <p>Color : </p> <span class="color"></span>
      <select name="size" id="">Size :
        <option value="s">S</option>
        <option value="s">M</option>
        <option value="s">L</option>
        <option value="s">XL</option>
      </select>
      <p>Categories : Fashion, Shirt, Women, Clothing</p>
      <p>Share this : </p>
      <div class="social">
        <span class="iconify" data-icon="dashicons:facebook-alt" data-width="20" data-height="20"></span>
        <span class="iconify" data-icon="ant-design:instagram-outlined" data-width="20" data-height="20"></span>
        <span class="iconify" data-icon="ph:reddit-logo-fill" data-width="20" data-height="20"></span>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="minimenu">
      <a href="#" class="active">DESCRIPTION</a>
      <a href="#" class="inactive">REVIEW</a>
      <a href="#" class="inactive">SHIPPING</a>
    </div>



    <p>The stunning white dress is a vision of purity and elegance. Its flowing fabric drapes gracefully down to the
      floor, with subtle pleats and folds that catch the light with every movement. The dress is fitted at the bodice,
      accentuating the wearer's curves, and then flares out at the waist in a classic A-line shape. Delicate lace trims
      the neckline and sleeves, adding a touch of romance and femininity. The overall effect is breathtakingly
      beautiful, like a fresh snowfall on a winter's day.
    </p>



    <h3>Features and Quaity</h3>
    <p>The features and quality of a white dress can vary widely depending on the style, fabric, and brand. However,
      here are some general features and quality indicators that you may look for:</p>
    <ul>
      <li>
        Style: A white dress can come in various styles, such as A-line, ballgown, sheath, mermaid, or fit-and-flare.
        Choose a style that flatters your body shape and reflects your personal taste.
      </li>
      <li>
        Fabric: White dresses can be made from various materials, such as cotton, silk, chiffon, lace, tulle, or
        satin. Consider the occasion and season when choosing the fabric.
      </li>
      <li>Details: Look for details that enhance the dress's overall design, such as ruffles, pleats, beading,
        embroidery, or sequins. However, avoid details that look too busy or overwhelming.</li>
    </ul>
  </div>

  <section class="arrivals">
    <h2 class="title">New Arrivals</h2>
    <p>Here are our latest arrivals for this month</p>
    <div class="main-content">
      <div class="content">
        <div class="image"></div>
        <div class="image"></div>
      </div>
      <div class="content">
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>

  </section>
</div>

<!-- footer -->

