<div class="jumbotron br-0 jum-d cat-b">
  <!-- breadcrumb -->
  <nav class="d-flex text-white bc">
    <h6 class="mb-0">
      <a href="#!view1" class="text-reset">Home</a>
      <span>></span>
      <a href="#!/view2" class="text-reset">Products</a>
      <span>></span>
      <a href="proddetails.html" class="text-reset"><u>Product Details</u></a>
    </h6>
  </nav>
  <!-- breadcrumb -->
</div>

<div class="con">
  <div class="product-wrapper">
    <div class="prodimg">
      <img src="PICTURES/blackshirt.jpeg" height="350px" width="300px" alt="product">
    </div>

    <div class="info">
      <h3>black shirt</h3>
      <p>Model : Lorem</p>
      <div class="stars">
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="emojione:star" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="el:star-empty" data-width="20" data-height="20" data-flip="horizontal"></span>
        <span class="iconify" data-icon="el:star-empty" data-width="20" data-height="20" data-flip="horizontal"></span>
      </div>
      <span class="oldprice">₦6,000</span> <span class="newprice">₦4,000</span>
      <p>Avaliability : In Stock</p>
      <p>Color : </p> <span class="color"></span>
      <select name="size" id="">Size :
        <option value="s">S</option>
        <option value="s">M</option>
        <option value="s">L</option>
        <option value="s">XL</option>
      </select>
      <p>Categories : Fashion, Shirt, Women, Clothing</p>
      <p>Share this : </p>
      <div class="social">
        <span class="iconify" data-icon="dashicons:facebook-alt" data-width="20" data-height="20"></span>
        <span class="iconify" data-icon="ant-design:instagram-outlined" data-width="20" data-height="20"></span>
        <span class="iconify" data-icon="ph:reddit-logo-fill" data-width="20" data-height="20"></span>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="minimenu">
      <a href="#" class="active">DESCRIPTION</a>
      <a href="#" class="inactive">REVIEW</a>
      <a href="#" class="inactive">SHIPPING</a>
    </div>



    <p>The black shirt exudes timeless elegance and sophistication. Its warm, muted hue complements a variety of skin
      tones and occasions. The dress features a simple, yet striking silhouette that emphasizes the natural curves of
      the body. The fabric drapes softly down to the floor, creating a graceful and feminine look. Delicate lace accents
      add a touch of romance and texture, while the fitted waistline creates a flattering and cinched-in effect. The
      overall effect is understated yet captivating, like a glowing sunset on a summer evening.
    </p>



    <h3>Features and Quaity</h3>
    <ul>
      <li>
        Silhouette: black shirt can come in various silhouettes, such as sheath, A-line, fit-and-flare, or ballgown.
        Choose a silhouette that suits your body type and the occasion.
      </li>
      <li>
        Color: Cream is a versatile and classic color that pairs well with other neutrals and pastels. Consider the
        season and event when choosing a cream dress.
      </li>
      <li>Details: Look for subtle and tasteful details that enhance the dress's overall design, such as lace,
        embroidery, beading, or appliques.</li>
      
    </ul>
  </div>

  <section class="arrivals">
    <h2 class="title">New Arrivals</h2>
    <p>Here are our latest arrivals for this month</p>
    <div class="main-content">
      <div class="content">
        <div class="image"></div>
        <div class="image"></div>
      </div>
      <div class="content">
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>

  </section>
</div>