<div class="jumbotron br-0 jum-d cat-b">
    <!-- breadcrumb -->
    <nav class="d-flex text-white bc">
        <h6 class="mb-0">
            <a href="index.html" class="text-reset">Home</a>
            <span>></span>
            <a href="wishlist.html" class="text-reset"><u>Wishlist</u></a>
        </h6>
    </nav>
    <!-- breadcrumb -->
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-inverse table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th class="p-5">Remove</th>
                        <th class="p-5">Images</th>
                        <th class="p-5">Product Name</th>
                        <th class="p-5">Unit price</th>
                        <th class="p-5">Stock Status</th>
                        <th class="p-5">Add to cart</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-5" scope="row"> <img src="./icons/delete.svg" alt=""> </td>
                        <td class="p-5"> <img src="./img/61Qjm6h6ZcL._AC_UL1500_.jpg" width="50px" alt=""> </td>
                        <td class="p-5">Kids Playing outfit</td>
                        <td class="p-5"><b>N5,000</b></td>
                        <td class="p-5">In Stock</td>
                        <td class="p-5"> <button class="btn btn-dark pl-5 pr-5">Add to cart</button> </td>
                    </tr>
                    <tr>
                        <td class="p-5" scope="row"></td>
                        <td class="p-5"> <img src="./img/61Qjm6h6ZcL._AC_UL1500_.jpg" width="50px" alt=""> </td>
                        <td class="p-5">Kids Playing outfit</td>
                        <td class="p-5"><b>N5,000</b></td>
                        <td class="p-5">In Stock</td>
                        <td class="p-5"> <button class="btn btn-dark pl-5 pr-5">Add to cart</button> </td>
                    </tr>

                    <tr>
                        <td class="p-5" scope="row"></td>
                        <td class="p-5"> <img src="./img/61Qjm6h6ZcL._AC_UL1500_.jpg" width="50px" alt=""> </td>
                        <td class="p-5">Kids Playing outfit</td>
                        <td class="p-5"><b>N5,000</b></td>
                        <td class="p-5">In Stock</td>
                        <td class="p-5"> <button class="btn btn-dark pl-5 pr-5">Add to cart</button> </td>
                    </tr>

                    <tr>
                        <td class="p-5" scope="row"></td>
                        <td class="p-5"> <img src="./img/61Qjm6h6ZcL._AC_UL1500_.jpg" width="50px" alt=""> </td>
                        <td class="p-5">Kids Playing outfit</td>
                        <td class="p-5"><b>N5,000</b></td>
                        <td class="p-5">In Stock</td>
                        <td class="p-5"> <button class="btn btn-dark pl-5 pr-5">Add to cart</button> </td>
                    </tr>

                    <tr>
                        <td class="p-5" scope="row"></td>
                        <td class="p-5"> <img src="./img/61Qjm6h6ZcL._AC_UL1500_.jpg" width="50px" alt=""> </td>
                        <td class="p-5">Kids Playing outfit</td>
                        <td class="p-5"><b>N5,000</b></td>
                        <td class="p-5">In Stock</td>
                        <td class="p-5"> <button class="btn btn-dark pl-5 pr-5">Add to cart</button> </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <button class="  col-md-4 border-0 p-3 pr-2 "><a href="#!/view5" class="text-dark text-center font-weight-bolder"
            style="position: relative;right: 7px;">CART</a></button>

</div>

<!-- <div class="jumbotron mt-4">
      <center>
        <b><h3>BRANDS</h3></b>
      </center>
   </div> -->

<div class="container mt-3">

    <div class="row about">
        <div class="col-md-7">
            <h3><b>About us</b></h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptate minus expedita totam aliquid
            </p>
        </div>
        <div class="col-md-5">
            <div>
                <form action="">
                    <h3> <b>Subscribe</b> </h3>
                    <p>
                        Subscribe to our newsletters to receive our latest update on our products
                    </p>
                    <div class="form-group">
                        <input type="text" placeholder="Email">
                    </div>
                    <button class="cnt_btn">Subscribe</button>
                    <style>
                        input[type=text] {
                            width: 400px;
                            outline: none;
                            border-top: 0px;
                            border-left: 0px;
                            border-right: 0px;
                            border-bottom: 1px solid #000;
                        }

                        input[type=text]:focus {
                            outline: none;
                        }
                    </style>
                </form>
            </div>
        </div>
    </div>

</div>



