<div class="jumbotron br-0 jum-d cat-b">
  <!-- breadcrumb -->
  <nav class="d-flex text-white bc">
    <h6 class="mb-0">
      <a href="index.html" class="text-reset">Home</a>
      <span>></span>
      <a href="contact.html" class="text-reset"><u>Contact</u></a>
    </h6>
  </nav>
  <!-- breadcrumb -->
</div>

<div class="container " style="margin-bottom: 320px;">
  <div class="row">
    <div class="col-md-6">
      <div class="form-down">
        <form>
          <center>
            <h3>CONTACT FORM</h3>
          </center>
          <p class="text-center">Have some ideas? More inquiries? We're here for you</p>

          <div class="form-group mt-3">
            <input type="text" class="form-control" placeholder="Name">
          </div>

          <div class="form-group mt-3">
            <input type="text" class="form-control" placeholder="Email">
          </div>

          <div class="form-group mt-3">
            <input type="text" class="form-control" placeholder="Subject">
          </div>

          <div class="form-group mt-3">
            <textarea name="" id="" cols="30" rows="6" class="form-control" placeholder="Message"></textarea>
          </div>



          <div class="form-group mt-3">
            <button class="btn-block p-2 cnt_btn text-white"> Submit </button>
          </div>

        </form>
      </div>
    </div>

    <div class="col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56843080.12368869!2d-1.173878607323253!3d10.33723516569718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0b1079174455%3A0x7c53467d6fa7fd6e!2sH%20MEDIX%20city%20center%20mall%2C%20Gimbiya%20Street%2Carea%2011!5e0!3m2!1sen!2sng!4v1660553252783!5m2!1sen!2sng"
        width="540" height="457" id="map" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <style>
      @media all and (max-width: 720px) {
        #map {
          width: 356px;
        }
      }
    </style>
  </div>
</div>




