<div class="jumbotron br-0 jum-d cat-b">
  <!-- breadcrumb -->
  <nav class="d-flex text-white bc">
    <h6 class="mb-0">
      <a href="index.html" class="text-reset">Home</a>
      <span>></span>
      <a href="categories.html" class="text-reset"><u>Categories</u></a>
    </h6>
  </nav>
  <!-- breadcrumb -->
</div>

<!-- this is chisom's code for categories -->


<div class="main-wrapper">


  <div class="wrapper">
    <div class="image1">
      <img src="img/women.jpg" alt="">
    </div>

    <div class="content1">
      <p class="title">OUTFITS</p>
      <h3>Beauty's Closet</h3>
      <p> Lorem ipsum dolor sit amet sed perferendis dolores incidunt necessitatibus dolorem vel debitis illo hic,
        natus, error alias similique? Debitis, exercitationem nesciunt.
      </p>

      <div class="letsgo">
        <p>Let's go </p>
      </div>

    </div>
  </div>

  <div class="wrapper">
    <div class="image2">
      <img src="img/outfits.jpg" alt="">
    </div>

    <div class="content2">
      <p class="title">OUTFITS</p>
      <h3>Beauty's Closet</h3>
      <p> Lorem ipsum dolor sit amet dolores incidunt necessitatibus dolorem vel debitis illo hic, natus, error alias
        similique? Debitis, exercitationem nesciunt.</p>

      <div class="letsgo">
        <p>Let's go </p>
      </div>

    </div>
  </div>
</div>



<div class="main-wrapper">


  <div class="wrapper">
    <div class="image3">
      <img src="img/woman.jpg" alt="">
    </div>

    <div class="content3">
      <p class="title">OUTFITS</p>
      <h3>Beauty's Closet</h3>
      <p> Lorem ipsum dolor sit amet sed perferendis dolores incidunt necessitatibus dolorem vel debitis illo hic,
        natus, error alias similique? Debitis, exercitationem nesciunt.
      </p>

      <div class="letsgo">
        <p>Let's go </p>
      </div>

    </div>
  </div>

  <div class="wrapper">
    <div class="image4">
      <img src="img/man.png" alt="">
    </div>

    <div class="content4">
      <p class="title">OUTFITS</p>
      <h3>Beauty's Closet</h3>
      <p> Lorem ipsum dolor sit ametperferendis dolores incidunt necessitatibus dolorem vel debitis illo hic, natus,
        error alias similique? Debitis, exercitationem nesciunt.</p>

      <div class="letsgo">
        <p>Let's go </p>
      </div>

    </div>
  </div>
</div>

<footer class="footer bg-light mt-4">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-3">
        <h2 class="my-h2">Thrift Fashion Store</h2>
        <div class="socialmedia mt-4">
          <p class="footer-p">Proudly<img src="icons/flag.svg" alt="" class="ml-3"></p>
        </div>

        <span class=" cus-link"><a href="#"> Terms and Conditions</a></span>
      </div>
      <div class="col-md-2">

        <ul class="text-left">
          <h3 class="footer-header">COMPANY</h3>
          <li><a href="">About Us</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">FAQS</a></li>
          <li><a href="">Our Mission</a></li>
          <li><a href="">Feedback</a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <ul class="text-left">
          <h3 class="footer-header">MY ACCOUNT</h3>
          <li><a href="">My Account</a></li>
          <li><a href="">My cart </a></li>
          <li><a href="">Login</a></li>
          <li><a href="">Wishlist</a></li>
          <li><a href="">Checkout</a></li>

        </ul>
      </div>
      <div class="col-md-2">
        <ul class="text-left">
          <h3 class="footer-header">Shop</h3>
          <li><a href="">Shoes</a></li>
          <li><a href="">Clothes </a></li>
          <li><a href="">Kids</a></li>
          <li><a href="">Accessories</a></li>
          <li><a href="">Brands</a></li>

        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <h3 class="footer-header">
            CONTACT
          </h3>
          <P class="footer-p">
            rsix.aptech@gmail.com <br>
            3rd floor, H-medix Gimbiya, <br>
            Garki Area 11 ,<br>
            Abuja,Nigeria.

          </P>
        </ul>
      </div>

      <div class="container mt-2">
        <center>
          <p class="footer-p ">
            Copyright &copy; TechWiz3<span id="year"></span>. All Rights Reserved
          </p>
        </center>
      </div>

    </div>
  </div>
</footer>