<div class="jumbotron br-0 jum-d cat-b">
  <!-- breadcrumb -->
  <nav class="d-flex text-white bc">
    <h6 class="mb-0">
      <a href="index.html" class="text-reset">Home</a>
      <span>></span>
      <a href="categories.html" class="text-reset"><u>Categories</u></a>
    </h6>
  </nav>
  <!-- breadcrumb -->
</div>

<!-- this is Ahmed code for categories -->


<div class="main-wrapper">


  <div class="wrapper">
    <div class="image1">
      <img src="img/pexels-polina-tankilevitch-3875430.jpg" alt="">
    </div>

    <div class="content1">
      <p class="title">OUTFITS</p>
      <h3>Shirts</h3>
      <p> Lorem ipsum dolor sit amet sed perferendis dolores incidunt necessitatibus dolorem vel debitis illo hic,
        natus, error alias similique? Debitis, exercitationem nesciunt.
      </p>

      <div class="letsgo">
        <a href="#!view2">
          Let's go
        </a>
        <p> </p>
      </div>

    </div>
  </div>

  <div class="wrapper">
    <div class="image2">
      <img src="img/outfits.jpg" alt="">
    </div>

    <div class="content2">
      <p class="title">OUTFITS</p>
      <h3>Accesories</h3>
      <p> Lorem ipsum dolor sit amet dolores incidunt necessitatibus dolorem vel debitis illo hic, natus, error alias
        similique? Debitis, exercitationem nesciunt.</p>

      <div class="letsgo">
        <p>Let's go </p>
      </div>

    </div>
  </div>
</div>



<div class="main-wrapper">


  <div class="wrapper">
    <div class="image3">
      <img src="img/woman.jpg" alt="">
    </div>

    <div class="content3">
      <p class="title">OUTFITS</p>
      <h3>Skirts</h3>
      <p> Lorem ipsum dolor sit amet sed perferendis dolores incidunt necessitatibus dolorem vel debitis illo hic,
        natus, error alias similique? Debitis, exercitationem nesciunt.
      </p>

      <div class="letsgo">
        <p> <a href="#!view13">Let's go</a></p>
      </div>

    </div>
  </div>

  <div class="wrapper">
    <div class="image4">
      <img src="img/man.png" alt="">
    </div>

    <div class="content4">
      <p class="title">OUTFITS</p>
      <h3>Beauty's Closet</h3>
      <p> Lorem ipsum dolor sit ametperferendis dolores incidunt necessitatibus dolorem vel debitis illo hic, natus,
        error alias similique? Debitis, exercitationem nesciunt.</p>

      <div class="letsgo">
        <p>Let's go </p>
      </div>

    </div>
  </div>
</div>