   <div class="jumbotron br-0 jum-d cat-b">

     <!-- breadcrumb -->
     <nav class="d-flex text-white bc">
       <h6 class="mb-0">
         <a href="#!view1" class="text-reset">Home</a>
         <span>></span>
         <a href="#view2" class="text-reset"><u>Products</u></a>
       </h6>
     </nav>
     <!-- breadcrumb -->
   </div>



   <div class="container">
     <div class="wrapper">
       <div class="search-input">
         <a href="" target="_blank" hidden></a>
         <input type="text" placeholder="Type to search..">
         <div class="autocom-box">
           <!-- here list are inserted from javascript -->
         </div>
         <div class="icon"><i class="fas fa-search"></i></div>
       </div>
     </div>

   </div>


   <div class="container-fluid">
     <div class="row">
       <div class="col-md-3">

         <!-- categories side panel -->
         <aside>

       
           <br>
           <br>

           <h3 class="heading-title ml-3 mt-5">CATEGORIES</h3>
            <hr>
           <ul class="my-list ml-3">
             <li class="mt-2"><a href="#!view13" style="text-decoration: none; color:#000;">Skirts </a></li>
             <li class="mt-2"><a href="#!view2" style="text-decoration: none; color:#000;">
                 Shirt
               </a></li>
             <li class="mt-2" > <a href="#!view14"style="text-decoration: none; color:#1ecece ;">T.P Wears</a></li>
           <li class="mt-2"><a href="#!view15" style="text-decoration: none; color:#000 ;">Accesories</a></li>

           </ul>
                      
           <h3 class="heading-title ml-3 mt-12">TAGS</h3>
           <hr>
           <p class=" link-p ml-3"><a href="#"> Clothing</a>/<a href="#">Ties</a>/<a href="#"> Jewelrey</a>/<a
               href="#"> Accessories</a>/<a href="#"> Other</a>/</p>




         </aside>

       </div>
       <div class="col-md-8">
         <div>
           <select name="" id="" class="mb-5">
             <option value="">Default Sorting</option>
             <option value="">Brand</option>
             <option value=""> Sales</option>
           </select>

           <select name="" id="" class="mb-5 ml-6">
             <option value="">Default Sorting</option>
             <option value="">Brand</option>
             <option value=""> Sales</option>
           </select>

         </div>
         <div class="card-wrapper">

           <div class="card-container">

             <div class="my-card"> <img src="PICTURES/shirts.jpeg" alt="" height="378x" width="306px" srcset="">
             </div>
             <a href="#">
               <div class="product-details">
                 <h1 class="product-title"> Black T.P Shirt</h1>
                 <p class="new-offer"> <span class="old-price">₦6000</span>&nbsp;&nbsp;&nbsp; ₦4000</p>
                 <div class="rating">

                   <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                   <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                   <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                   <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                   <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

                 </div>
                 <p class="prod-desc">The black shirt exudes timeless elegance and sophistication. Its warm, muted hue
                   <br>
                   complements a variety of skin tones and occasions. The dress features a simple, yet striking <br>
                   silhouette that emphasizes the natural curves of the body. The fabric drapes softly down to the
                   floor,
                   br
                   <br> creating a graceful and feminine look. Delicate lace accents add a touch of romance and <br>
                   texture, while the fitted waistline creates a flattering and cinched-in effect. The overall effect is
                   <br>
                   understated yet captivating, like a glowing sunset on a summer evening.</p>

                 <button type="submit" class="cart-btn"> Add To Cart</button>
               </div>
             </a>
           </div>

           <div class="card-container">
             <div class="my-card"><img src="PICTURES/shorts.jpeg" alt="" height="378x"
                 width="306px" srcset=""></div>
             <a href="#0">
               <div class="product-details">
                 <h1 class="product-title"> T.P Shorts</h1>
                 <p class="new-offer"> <span class="old-price">₦6000</span>&nbsp;&nbsp;&nbsp; ₦4000</p>
                 <div class="rating">

                   <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                   <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                   <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                   <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                   <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

                 </div>
                 <p class="prod-desc">
                   The stunning blue shorts is a vision of purity and elegance. Its flowing fabric drapes gracefully
                   down <br>
                   to the floor, with subtle pleats and folds that <br>catch the light with every movement. The dress is
                   fitted at the bodice, accentuating the wearer's <br> curves, and then flares out at the waist in a
                   classic
                   A-line shape. Delicate lace trims the neckline <br> and sleeves, adding a touch of romance and
                   femininity.
                   The overall effect is breathtakingly beautiful, <br> like a fresh snowfall on a winter's day.
                 </p>

                 <button type="submit" class="cart-btn"> Add To Cart</button>
               </div>
             </a>
           </div>

           <div class="card-container">
             <div class="my-card"><img src="PICTURES/trackpants.jpeg" alt="" height="378x" width="306px"
                 srcset=""></div>
             <a href="#1">
               <div class="product-details">
                 <h1 class="product-title"> trackpants</h1>
                 <p class="new-offer"> <span class="old-price">₦6000</span>&nbsp;&nbsp;&nbsp; ₦4000</p>
                 <div class="rating">

                   <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                   <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                   <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                   <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                   <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

                 </div>
                 <p class="prod-desc">The yellow dress is a vibrant and playful piece that radiates <br> warmth and joy.
                   Its
                   sunny hue is perfect for spring and summer occasions, from picnics <br>to weddings. The dress
                   features a
                   breezy and feminine silhouette that flows gracefully with <br> every step. The fabric is light and
                   airy,
                   allowing for maximum comfort and movement. The <br>dress may also feature playful details, such as
                   ruffles, bows, or floral prints, adding to <br> its charm and whimsy. The overall effect is cheerful
                   and
                   optimistic, like a field of sunflowers <br>on a bright day.</p>

                 <button type="submit" class="cart-btn"> Add To Cart</button>
               </div>
             </a>
           </div>

           <div class="card-container mb-5">
             <div class="my-card"><img src="PICTURES/greenshirt.webp" alt="" height="378x" width="306px" srcset="">
             </div>
             <a href="#2">
               <div class="product-details">
                 <h1 class="product-title"> Green T.P shirts</h1>
                 <p class="new-offer"> <span class="old-price">₦6000</span>&nbsp;&nbsp;&nbsp; ₦4000</p>
                 <div class="rating">

                   <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                   <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                   <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                   <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                   <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>

                 </div>
                 <p class="prod-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et turpis <br>
                   volutpat enim pellentesque nunc pellentesque urna fringilla. In <br>
                   nulla diam et dictum ut nisl etiam massa bibendum. Lorem ipsum <br>
                   dolor sit amet, consectetur adipiscing elit. Et turpis volutpat enim <br> pellentesque nunc
                   pellentesque urna fringilla. In nulla diam et <br>
                   dictum ut nisl etiam massa bibendum. Lorem ipsum dolor sit <br>
                   amet, consectetur adipiscing elit. . </p>

                 <button type="submit" class="cart-btn"> Add To Cart</button>
               </div>
             </a>
           </div>

         </div>
       </div>
       <div class="col-md-2"></div>
     </div>
   </div>